{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}



{% block body %}

<div class="container mt-4">
	
	<div class="jumbotron">
	  <h1 class="display-4">Bienvenue sur le site d'annonces</h1>
	  <p class="lead">Mise en relation propriétaires et voyageurs</p>
	  <hr class="my-4">
	  <p>Logez-vous lors de vos déplacements</p>
	  <a class="btn btn-primary btn-lg example-popover" href="#" role="button" title="Popover title" data-content="content">Voir nos annonces</a>
	</div>

<h2>Nos appartements stars</h2>

<div class="row">

		<div class="col">
			<div class="card">
			  <div class="card-header">
			    2 chambres 50€/nuits<br>
			    Pas encore noté
			  </div>
			  <div class="card-body text-center">
			  <img src="https://via.placeholder.com/300"> 
			    <h5 class="card-title">Bel appartement</h5>
			    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    consequat.</p>
			    <a href="#" class="btn btn-primary">Voir l'annonce</a>
			  </div>
			</div>
		</div>

		<div class="col">
			<div class="card">
			  <div class="card-header">
			    2 chambres 50€/nuits<br>
			    Pas encore noté
			  </div>
			  <div class="card-body text-center">
			  <img src="https://via.placeholder.com/300"> 
			    <h5 class="card-title">Bel appartement</h5>
			    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    consequat.</p>
			    <a href="#" class="btn btn-primary">Voir l'annonce</a>
			  </div>
			</div>
		</div>

		<div class="col">
			<div class="card">
			  <div class="card-header">
			    2 chambres 50€/nuits<br>
			    Pas encore noté
			  </div>
			  <div class="card-body text-center">
			  <img src="https://via.placeholder.com/300"> 
			    <h5 class="card-title">Bel appartement</h5>
			    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    consequat.</p>
			    <a href="#" class="btn btn-primary">Voir l'annonce</a>
			  </div>
			</div>
		</div>

</div>


<h2 class="mt-5">Nos propriétaires stars</h2>
<div class="row mb-4">
	<div class="col">
			<div class="card">
			  <div class="card-header">
			  Nom prénom
			  </div>
			  <div class="card-body text-center">
			  <img src="https://via.placeholder.com/65" class="float-left"> 
			   
			    <p class="card-text text-right" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    consequat.</p>
			    <a href="#" class="btn btn-primary">Voir les annonces</a>
			  </div>
			</div>
	</div>

	<div class="col">
		<div class="card">
			  <div class="card-header">
			  Nom prénom
			  </div>
			  <div class="card-body text-center">
			  <img src="https://via.placeholder.com/65" class="float-left"> 
			   
			    <p class="card-text text-right" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    consequat.</p>
			    <a href="#" class="btn btn-primary">Voir les annonces</a>
			  </div>
			</div>
	</div>


</div>



</div>








{% endblock %}

